.blog-detail
	.main-full
		.blog-roof
			.blog-data
				span 09 февраля 2022
			.blog-view
				i
					img(src="/images/icons/view-gray.svg", alt="")
				b 99
	.blog-images.main-grid
		.col-8.blog-images-cell
			.blog-images-main.img-cover
				img(src="/images/temp/1.jpg", alt="")
		.col-4.blog-images-cell-second
			.blog-images-second.img-cover
					img(src="/images/temp/2.jpg", alt="")
			.blog-images-second.img-cover
					img(src="/images/temp/3.jpg", alt="")
	.main-full.blog-content-container
		.blog-content
			p Дубай – город невероятных контрастов и ярких впечатлений. Это место, где от бескрайних песчаных дюн до фантастических танцующих фонтанов рукой подать, а с высоты самой высокой в мире башни Бурдж-Халифа одновременно открывается вид на пустынные окрестности, воды залива и современный, словно усыпанный драгоценными камнями, город. Побывать здесь мечтает каждый. Но, прежде чем паковать чемоданы, будет нелишним ознакомиться с историей и традициями этой мусульманской страны.
			h3 Интересные факты о Дубае 
			p Дубай расположен на побережье Персидского залива, протяжённость вдоль береговой линии составляет почти 130 км. В номинации самых длинных городов мира он занимает безоговорочное первое место. А вот по темпам роста занимает второе место, уступая китайскому Шанхаю. Но это факт не мешает ему преображаться год от года: здесь постоянно появляются новые объекты, а пятая часть всех подъёмных кранов на планете работают именно в Дубае.
			p Дубай – самый молодой мегаполис, стремящийся занять первое место в рейтинге наиболее привлекательных туристических мест. Поэтому не удивляйтесь инновациям и технологиям – они вас будут окружать на каждом шагу. И первое знакомство состоится прямо в аэропорту, где каждый прибывший должен пройти процедуру идентификации личности путём сканирования глаза.
			p Как ещё один пример инноваций в обычной жизни – метро Дубая. Оно полностью автоматизировано и работает без машиниста. Благодаря идеальным дорогам в городе установлено ограничение скорости для автомобилей – 120 км/ч, а значит, можно наслаждаться местными красотами с комфортом. Кстати, считается, что город не предназначен для пешеходов: у всех местных есть собственные авто, а приезжие работники передвигаются на общественном транспорте. Гости города обычно пользуются услугами такси или арендуют автомобиль.
			p Дубай считается максимально безопасным городом. Это объясняется строгостью местных законов, а также хорошей работой полиции. Преступления в городе совершаются редко, но наказание даже за незначительный проступок достаточно суровое. Поэтому не стоит грубить незнакомцам, и уж тем более показывать неприличные жесты – вы рискуете получить большой штраф, а может, и тюремный срок.
			p Вы удивитесь, но рабочая неделя начинается в субботу, а выходные – с четверга. Все коренные жители получают пособия в размере 2000 долларов и ни в чём себе не отказывают (хотя разве могут себе в чём-то отказать самые богатые люди Эмиратов?). Здесь достаточно высокая средняя зарплата, но шоппинг и отдых в ресторане – удовольствие не из дешёвых.
		.blog-hint 
			div
				i
			div 
				.blog-hint-text Объединённые Арабские Эмираты – мусульманское государство, которое живёт по строгим законам. Несмотря на то, что здесь всегда рады иностранным гостям, следует соблюдать определённые правила поведения, иначе вы рискуете испортить себе отдых. Нарушение правил чревато не только устным замечанием или штрафом, но и более серьёзным наказанием, вплоть до тюремного заключения и депортации.
		.blog-hint-list 
			h3 Основные правила, которым нужно придерживаться в Дубае
			.blog-hint-item 
				h4 
					i 1
					span Дресс-код
				p К распитию спиртных напитков в Дубае относятся негативно. Для местных жителей он запрещён вообще, а для туристов действует ряд ограничений. Спиртное продаётся только в Duty Free, нескольких лицензированных магазинах и ресторанах при отелях. Распивать напитки можно только в своём номере или в баре, но ни в коем случае не на пляже и на улице. Появление в общественном месте в состоянии алкогольного опьянения может обернуться массой проблем. И ни в коем случае не дарите местным жителям алкоголь – такой подарок они сочтут оскорблением.
				p В отношении курения таких строгих правил нет. Главное, чтобы табачный дым не мешал окружающим.
			.blog-hint-item 
				h4 
					i 2
					span Алкоголь и табак
				p К распитию спиртных напитков в Дубае относятся негативно. Для местных жителей он запрещён вообще, а для туристов действует ряд ограничений. Спиртное продаётся только в Duty Free, нескольких лицензированных магазинах и ресторанах при отелях. Распивать напитки можно только в своём номере или в баре, но ни в коем случае не на пляже и на улице. Появление в общественном месте в состоянии алкогольного опьянения может обернуться массой проблем. И ни в коем случае не дарите местным жителям алкоголь – такой подарок они сочтут оскорблением.
				p В отношении курения таких строгих правил нет. Главное, чтобы табачный дым не мешал окружающим.
				.blog-img-one 
					img(src="/images/temp/1.jpg", alt="")
			.blog-hint-item 
				h4 
					i 3
					span Объятья и поцелуи
				p Публичное проявление чувств тоже под запретом. Более того, невинный поцелуй может обернуться несколькими днями за тюремной решёткой. Поэтому вся романтика только на территории отеля, а за его пределами постарайтесь отказаться от привычки держаться за руки и обниматься.
				.blog-img-two 
					img(src="/images/temp/1.jpg", alt="")
					img(src="/images/temp/1.jpg", alt="")
			.blog-hint-item 
				h4 
					i 4
					span Фотосъёмка
				p В Дубае действуют ограничения на фотосъёмку. Женщин нельзя фотографировать вообще, мужчин – только с их разрешения. Абсолютный запрет действует на съёмку стратегических и военных объектов, административных зданий, некоторых достопримечательностей. Лучше не рисковать и обойтись без фотоаппарата в общественных местах. И даже находясь на пляже, обязательно изучите запрещающие знаки.
			.blog-hint-item 
				h4 
					i 5
					span Приветствия и рукопожатия
				p Арабские мужчины в качестве приветствия используют рукопожатие. Но учтите, что левая рука в Эмиратах считается "грязной", поэтому с её помощью не нужно не только здороваться и прощаться, но и держать столовые приборы. Также нельзя здороваться за руку с женщиной, если только она сама не протянула её первой. Небольшой поклон при встрече с дамой, конечно, добавит вам бонусов, но делать это необязательно.
			.blog-hint-item 
				h4 
					i 6
					span Поход в гости
				p В арабской культуре отказ от приглашения в гости расценивается как неуважение. Поэтому не отказывайтесь от визита, но не забудьте тщательно к нему подготовиться. Перед входом в дом обязательно снимите обувь. С членами семьи следует здороваться в порядке старшинства. За столом еду и питьё передавайте только правой рукой (про "грязную" левую написано выше). Поинтересуйтесь общим благополучием семьи, но не распрашивайте о личном. И вообще темы для разговоров лучше выбирать нейтральные, без политики и религиозных вопросов.
				.blog-img-three 
					img(src="/images/temp/1.jpg", alt="")
					img(src="/images/temp/1.jpg", alt="")
					img(src="/images/temp/1.jpg", alt="")
			.blog-hint-item 
				h4 
					i 8
					span Священный месяц Рамадан
				p Это особый период для всех мусульман, поэтому даже незначительные "прегрешения", которые сошли бы с рук в другое время, в Рамадан наказываются строго. Мусульмане должны соблюдать строгий пост. Ограничения в еде и развлечениях не касаются туристов, но накладывают определённый отпечаток. Так как в Рамадан приём пищи от рассвета до заката запрещён, поесть вы сможете только в ресторанах при отелях или в специальных заведениях для туристов. Все остальные закусочные и кафе в городе закрыты.
				p Также могут оказаться недоступными развлекательные заведения, так как Рамадан предполагает запрет на веселье. В последнюю декаду Рамадана многие учреждения и вовсе работают по сокращённому графику. Вы рискуете остаться без концертов и выставок. Поэтому, отправляясь в оперу или в музей, предварительно уточните часы работы объекта.
				p Несмотря на все ограничения и строгие правила, Дубай остаётся самым посещаемым городом в Эмиратах. А чтобы отдых запомнился только положительными эмоциями, следуйте вышеперечисленным советам.
		.blog-social
			b Подписаться
			+social(["fcg","wzg","vg","tlg"])