+popup-template(1,) 
	.form-default
		h3 ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
		.popup-hint Оставьте заявку, и мы свяжемся с вами в ближайшее время
		.form
			.input-box
				input(type="text" id="phone-flag-null"  class="phone input-decorate phone-null" autocomplete="off")
			.checkbox.agreement
				label Согласен (на) на обработку 
					a(href="#") персональных данных 
					input(type="checkbox" checked)
					span
			+inputSubmit('отправить', 'btn--yellow', 'col-12')