+popup-template(51, 'extra-order-popup') 
	.main-grid
		.col-6.cell-img
			div
				h4 Please select additional services.
				h5 You can select several services.
				.extra-order-img
					.img-cover 
						img(src="/images/temp/boad/1.jpg", alt="")
		.col-6
			.custom-checkbox
				i
				.custom-checkbox-name
					b YACHT 1
					span from 350 AED per person
			.custom-checkbox
				i
				.custom-checkbox-name
					b YACHT 2
					span from 350 AED per person
			.custom-checkbox
				i
				.custom-checkbox-name
					b YACHT 3
					span from 350 AED per person
			.custom-checkbox
				i
				.custom-checkbox-name
					b YACHT 4
					span from 350 AED per person
			.custom-checkbox
				i
				.custom-checkbox-name
					b YACHT 5
					span from 350 AED per person
			.custom-checkbox
				i
				.custom-checkbox-name
					b YACHT 6
					span from 350 AED per person
			.btn-container 
				.btn.btn--yellow.book-form Выбрать