//- include preload.pug
header
	.main-grid.line-header
		.col-xs-4.call-mobile-container.vertical-align
			.call-mobile-btn
		.col-2.col-xs-4.logo-container
			a.logo(href="#") 
				img(src="/images/logo.svg", alt="")
		.col-10.col-xs-4.line-top-container.vertical-align
			.search-main 
				input.input-search.input-search-ajax(type="text" placeholder="Поиск")
				.search-ico
				.search-popup
			div
				a.whatsapp-btn(href="") 
					i 
					span WhatsApp
			div
				a.phone-btn(href="#") 
					i
					span + 971 56 115 16 21

			div
				a.btn-header.btn.btn--yellow.element-btn(data-element="1" href="#") Перезвонить мне
			div
				a.liked-btn(href="#")
					span 10
			+social(["fc","i"])
			.hamburger-btn.element-btn(data-element='0')
			.language-select
				span RU 
				i
			.border-header
	.main-grid.line-header.line-header-nav
		.col-2
		.vertical-align.col-10
			nav.nav-header
				ul.ln
						li 
							a(href="#") Аренда яхт и катеров
								i 
						li 
							a(href="#") МАРШРУТЫ
						li 
							a(href="#") wake Dubai
						li 
							a(href="#") Дополнительные услуги
								i
						li 
							a(href="#") о компании
								i
							ul 
								li 
									a(href="#") О нас 
								li 
									a(href="#") Блог
								li 
									a(href="#") О нас 
								li 
									a(href="#") Блог
						li 
							a(href="#") отзывы
						li 
							a(href="#") контакты

