include ../../default/build-header
		
// header end
.stub-second
+roofContent("Lorem impusm")
	include parts/main.pug
	
include ../home/feedback.pug
include ../detail/news-last.pug
// footer start 

.stub-footer

include ../../blocks/footer.pug

// footer end   