include ../../default/build-header
		
// header end
.stub
.yachts-main-detail
	.main-full-abs.main-full-abs-top
		.breadcrumbs
			a(href="#") Главная
			em /
			span Azimut 62 Lucky Star Lucky Star 
	.main-full-abs.main-full-abs-bottom 
		h1 Azimut 62 Lucky Star Lucky Star
	.yachts-detail-img.img-cover 
		img(src="/images/temp/boad/1.jpg", alt="")
		.topic-stub 
	.yachts-detail-gallery
		.yachts-gallery-item.img-cover 
			img(src="/images/temp/boad/1.jpg", alt="")
		.yachts-gallery-item.img-cover 
			img(src="/images/temp/boad/2.jpg", alt="")
		.yachts-gallery-item.img-cover 
			img(src="/images/temp/boad/3.jpg", alt="")
		.yachts-gallery-item.img-cover 
			img(src="/images/temp/boad/1.jpg", alt="")
include parts/detail-about.pug
include parts/tabs-yachts.pug
include ../../blocks/feedback/free.pug
include ../home/yachts.pug	
include ../detail/reviews.pug

include ../home/blog.pug
// footer start 
.stub-footer
include ../../blocks/footer.pug

// footer end    