section.team-home
  .team-home-img
    .img-cover 
      img(src="/images/temp/team.jpg", alt="")
  .team-home-description
    .team-home-container
      h2 Дополнительные возможности
      .team-home-text
        p Чтобы насладиться прекрасными панорамами Дубая более подробно или запечатлеть как можно больше замечательных моментов, Luxury Sea Boats Charter предлагает нашим гостям возможность выйти за рамки стандартных временных рамок тура. Дайте нашим сотрудникам знать, как вы хотели бы продлить круиз, и мы сделаем все возможное, чтобы сделать ваш круиз идеальным!