section.stage-adv
	.main-full.head-section
		h2.title-section Какие места включены в тур?
	.main-grid.stage-adv-items
		//- include border.pug
		.col-3.hidden-sm.hidden-xs
		.col-3.col-sm-6.col-xs-12.stage-adv-item-2
			.stage-adv-item
				h3 Blue Water Island
				.stage-adv-text Недалеко от входа в Персидский залив со стороны канала Дубай Марина перед нашими глазами предстает потрясающий вид-еще один рукотворный остров под названием голубые воды.
				.stage-adv-num
					span 2
		.col-3.hidden-sm.hidden-xs
		.col-3.col-sm-6.col-xs-12.stage-adv-item-4
			.stage-adv-item.stage-adv-item-last
				h3 
					span Atlantis
				.stage-adv-text Великолепное здание отеля Атлантис напоминает великолепный дворец. Величие архитектурной и инженерной мысли в ее облике поразит даже самого требовательного зрителя.
				.stage-adv-num
					span 4
		.col-12.hidden-sm.hidden-xs
		.col-3.col-sm-6.col-xs-12.stage-adv-item-1
			.stage-adv-item.stage-offset
				.stage-adv-num
					span 1
				h3 Dubai Marina
				.stage-adv-text Один из самых престижных и привлекательных районов мегаполиса получил свое название от искусственного канала Дубай Марина.
		.col-3.hidden-sm.hidden-xs
		.col-3.col-sm-6.col-xs-12.stage-adv-item-3
			.stage-adv-item.stage-offset
				.stage-adv-num
					span 3
				h3 Jumeirah Beach Residence
				.stage-adv-text Только с лодки в открытом море можно в полной мере ощутить грандиозный масштаб и гармонию самого большого в мире комплекса апартаментов Jumeirah Beach Residence.
