footer.footer-xs
	.main-full
		ul.footer-hidden-nav 
			-for(var x=0; x<3;x++)
				li.ln
					span Аренда яхт и катеров
					i
					ul.ln
						li 
							a(href="#") point 1 
						li 
							a(href="#") point 2
						li 
							a(href="#") point 3 
		.search-main 
			input.input-search(type="text" placeholder="Поиск")
			.search-ico
		.feedback
			h3 
				a(href="#") Наши Контакты
			.feedback-footer-marker.feedback-footer-item
				a(href="#") 
					i
					span Dubai Harbour Marina
			.feedback-footer-mail.feedback-footer-item
				a(href="#")
					i
					span mail@mail.ru
			.feedback-footer-phone.feedback-footer-item
				a(href="#") 
					i
					span + 971 56 115 16 24
			.btn-container 
				a.btn.btn--yellow.btn-element(href="#").element-btn(data-element="1")
					span перезвоните мне
					i
			.social-default
				a.whatsapp-btn(href="") 
					i 
					span WhatsApp
				+social(["fc","i"])
		.nav-1-container
			a.logo(href="./index.html")
				img(src="/images/logo-footer.svg")
		.logo-text Все яхты, представленные на данном сайте, имеют государственную регистрицию и лицензию на совершение чартерных рейсов.
		a.btn-new-site(href="#")
			i
			span Продажа, обслуживание яхт

		ul.footer-links.ln
			li
				a(href="#") Карта сайта
			li
				a(href="#") Политика конфиденциальности
			li
				| © 2022 Luxury Sea Boats Charter 