/*.catalog-sidebar*/
.catalog-sidebar
  margin-top: -87px
  .search-main
    margin-bottom: 45px
  .btn
    width: 100%
  .btns-mobile
    display: none
.sidebar-search
  margin-bottom: 60px

.sidebar-search-item
  position: relative
  border-bottom: 1px solid $grayColorSecond
  padding: 0 0 25px
  margin: 0 0 30px
  i
    cursor: pointer
    @include positionElement(15px,15px,0,2px,right)
    @include bgImageEl("../images/arrows/carret-down-blue.svg", 30px)
    transition: ease-out 0.25s
    &:hover
      background-image: url("../images/arrows/carret-down-yellow.svg")
  .checkbox
    display: block
  h3
    text-transform: uppercase
    transition: ease-out 0.5s
    font-size: $smallSize
    font-weight: 700
    cursor: pointer
    &:hover
      color: $yellowColor
  &.active
    h3
      color: $yellowColor
      margin: 0 0 10px
    i
      transform: rotate(90deg)
      background-image: url("../images/arrows/carret-down-yellow.svg")
    .sidebar-item-container
      max-height: 500px
.sidebar-item-container
  transition: ease-out 0.5s
  position: relative
  overflow: hidden
  max-height: 0

.search-tabs
  display: flex
  position: relative
  border-bottom: 1px solid $grayColorSecond
  margin: 0 0 30px
  span
    display: inline-block
    width: 50%
    text-align: center
    text-transform: uppercase
    font-weight: 700
    cursor: pointer
    padding: 12px
    position: relative
    &.active
      color: $yellowColor
      &::after
        content: ""
        @include positionElement(100%,2px,0,0,left,bottom)
        background-color: $yellowColor
.sidebar-search-controls
  display: none
/*.catalog-sidebar*/
@media (max-width: 1280px)
  .catalog-sidebar
    margin-top: 0px
@media (max-width: 768px)
  .sidebar-search-controls
    display: flex
    justify-content: space-between
    padding: 30px 0 15px
  .feedback-mini
    display: none
  .catalog-sidebar-container
    @include positionElement(100%,100vh,0,0,left,top, 5, fixed)
    overflow: auto
    display: none
    background-color: $whiteColor
    &.active
      display: block
    .btn
      margin: 0 0 15px
    .btns-mobile
      display: block
    .btns-desktop
      display: none
  .catalog-sidebar
    max-width: 500px
    margin: 0 auto
  .catalog-sort
    display: none
@media (max-width: 576px)
  .sidebar-search
    margin-bottom: 30px

  .catalog-sidebar
    padding: 0 15px
