section.suitable-home
	.main-full.head-section
		h2
			| Найдите подходящую яхту
	.main-grid.hide-home-desktop
		.col-6
			+suitableItem('Катера','Наилучший способ открыть для себя все самые известные места Дубая с водной глади','от 850 AED/час','/images/temp/boad/1.jpg')
		.col-6
			+suitableItem('Яхты стандарт','Наилучший способ открыть для себя все самые известные места Дубая с водной глади','от 850 AED/час','/images/temp/boad/2.jpg')
		.col-12
			+suitableItem('VIP Яхты','Наилучший способ открыть для себя все самые известные места Дубая с водной глади','от 850 AED/час','/images/temp/boad/3.jpg', 'extra')
	.main-full.slider-home-mobile
		.owl-mobile.owl-carousel
			+suitableItem('Катера','Наилучший способ открыть для себя все самые известные места Дубая с водной глади','от 850 AED/час','/images/temp/boad/1.jpg')
			+suitableItem('Яхты стандарт','Наилучший способ открыть для себя все самые известные места Дубая с водной глади','от 850 AED/час','/images/temp/boad/2.jpg')
			+suitableItem('VIP Яхты','Наилучший способ открыть для себя все самые известные места Дубая с водной глади','от 850 AED/час','/images/temp/boad/3.jpg', 'extra')
