.extra-order-popup
  h3,
  h4,
  h5
    text-align: left
    color: $whiteColor
  h3
    font-size: 24px
  h4
    font-size: 16px
    text-transform: uppercase
  h5
    font-size: 14px
    font-weight: 400
  .popup-container
    max-width: 800px
  .main-grid
    padding: 0
  .cell-form
    margin-top: -36px
  .cell-img
    display: flex
    flex-direction: column
    justify-content: space-between
  .agreement
    margin-bottom: 8px
  .input-box
    margin: 0
  .couple-input-box
    display: flex
    gap: 15px
    .input-box,
    .yachts-order-btn
      width: 50%
  .btn-container
    margin-top: 30px
  .btn
    width: 190px
  .cell-form .wpcf7-response-output
    position: absolute
    top: 320px
    background: $blueColor

.extra-order-img
  // height: 234px
  position: relative
  margin-top: 30px
  overflow: hidden
  height: 280px
  @include bgImageEl("../images/yacht-popup-logo.svg", 180px)
  img
    width: 100%
    display: none
  &.show
    background: none
    img
      display: block
.couple-btn-box
  margin-top: 44px
.yachts-order-btn
  border-bottom: 1px solid $whiteColor
  position: relative
  text-transform: uppercase
  cursor: pointer
  font-size: 13px
  span
    position: relative
    width: 80%
    overflow: hidden
    display: inline-block
  i
    @include positionElement(20px,20px,0,0,right)
    @include bgImageEl("../images/arrows/carret-down-white.svg", 30px)
  // .active-btn
  //   i
  //     transform: rotate(-90deg)
  &:hover,
  &.active
    color: $yellowColor
    border-color: $yellowColor
    i
      background-image: url("../images/arrows/carret-down-yellow.svg")
.popup-yacht-head
  height: 90px
.custom-checkbox-container,
.custom-radio-container
  height: 320px
  position: relative
  overflow-y: auto
  img
    width: 100%
    display: none
  &::-webkit-scrollbar
    width: 6px
  /* Track */
  &::-webkit-scrollbar-track
    background: $blueColor

  /* Handle */
  &::-webkit-scrollbar-thumb
    background: #D9D9D9
    border-radius: 15px

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover
    background: #555

.cell-form-container
  height: 480px
.custom-checkbox
  margin-bottom: 15px
  cursor: pointer
  i
    display: inline-block
    width: 26px
    height: 26px
    border: 1px solid $yellowColor
    border-radius: 100%
    position: relative
    margin-right: 8px
  em,
  span
    display: block
  .custom-checkbox-name,
  i
    vertical-align: middle
  .custom-checkbox-name
    display: inline-block
    width: calc( 100% - 45px )
  &.active
    color: $yellowColor
    i
      &::before
        content: ""
        @include positionElement(14px,14px,5px,5px)
        background-color: $yellowColor
        border-radius: 100%

.order-popup-part
  background-color: $blueColor
  padding: 40px 25px
  @include positionElement(100%,100%,0,0,left,top,5)
  display: none
  &.show
    display: block
  .couple-input-box
    margin-top: 18px
.order-popup-end-container
  height: 100%
  display: flex
.order-popup-end
  width: 300px
  margin: auto
  h2
    font-size: 28px
    text-align: left
    margin-bottom: 20px
  h3
    font-size: 16px
    font-weight: 400
    text-transform: uppercase
    margin-bottom: 8px
  h4
    font-weight: 400
    text-transform: inherit
.extra-order-popup
  .cell-form
    .agreement
      display: none

@media (max-width: 576px)
  .extra-order-popup
    .cell-img
      .agreement
        display: none
    .extra-order-img
      display: none
    .cell-form
      margin: 0
      .agreement
        display: block
        margin-top: 15px
  .yachts-order-btn
    font-size: 12px
  .order-popup-part
    padding: 30px 15px
  .cell-form-container
    height: auto
  .custom-checkbox.active
    img
      display: block
  .custom-checkbox-container, .custom-radio-container
    height: 355px
