.extra-order-popup
  h3,
  h4,
  h5
    text-align: left
    color: $whiteColor
  h3
    font-size: 24px
  h4
    font-size: 16px
    text-transform: uppercase
  h5
    font-size: 14px
    font-weight: 400
  .popup-container
    max-width: 800px
    margin: 7% auto auto
  .main-grid
    padding: 0
  .cell-form
    // top: -36px
    position: relative
  .cell-img
    display: flex
    flex-direction: column
    justify-content: space-between
  .agreement
    margin-bottom: 8px
  .yachts-box
    margin: 0
    padding-top: 25px
    label
      top: 35px
  .yachts-select
    label
      top: 12px
      &.active
        top: -4px
        opacity: 0.5
  .yachts-phone-box
    margin: 0
    padding-top: 25px
  .couple-input-box
    display: flex
    gap: 15px
    .input-box,
    .yachts-order-btn-container
      width: 50%
  .btn-container
    margin-top: 20px
  .btn
    width: 190px

  .cell-form .wpcf7-response-output
    position: absolute
    top: 320px
    background: $blueColor
  .input-decorate
    // font-size: 13px 
.yachts-serv-box,
.yachts-route-box
  font-size: 12px
  min-height: 62px
  position: relative
  // overflow: hidden
  border-top: 1px solid $blueColor
  border-bottom: 1px solid $blueColor
  line-height: 1
  &.active
    border-bottom-color: $yellowColor
    margin-top: -2px
    background-color: $blueColor
  li
    margin-bottom: 4px
.extra-order-img
  position: relative
  margin-top: 30px
  overflow: hidden
  height: 240px
  @include bgImageEl("../images/yacht-popup-logo.svg", 180px)
  img
    @include positionElement(100%,100%,0,0)
    object-fit: cover
    display: none
  &.show
    background: none
    img
      display: block
.couple-btn-box
  margin-top: 1px
.yachts-order-btn
  border-bottom: 1px solid $whiteColor
  position: relative
  text-transform: uppercase
  cursor: pointer
  font-size: 13px
  font-weight: 500

  span
    position: relative
    width: 80%
    overflow: hidden
    display: inline-block
  i
    @include positionElement(20px,20px,0,0,right)
    @include bgImageEl("../images/arrows/carret-down-white.svg", 30px)
  &.active-btn,
  &.active
    color: $yellowColor
    border-color: $yellowColor
    i
      background-image: url("../images/arrows/carret-down-yellow.svg")
  &.active-btn
    i
      transform: rotate(180deg)

.popup-yacht-head
  height: 90px
.custom-checkbox-container,
.custom-radio-container
  height: 310px
  position: relative
  overflow-y: auto
  img
    width: 100%
    display: none
  &::-webkit-scrollbar
    width: 6px
  /* Track */
  &::-webkit-scrollbar-track
    background: $blueColor

  /* Handle */
  &::-webkit-scrollbar-thumb
    background: #D9D9D9
    border-radius: 15px

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover
    background: #555

.cell-form-container
  // height: 480px
.custom-checkbox
  margin-bottom: 6px
  cursor: pointer
  i
    display: inline-block
    width: 26px
    height: 26px
    border: 1px solid $yellowColor
    border-radius: 100%
    position: relative
    margin-right: 8px
  em,
  span
    display: block
  span
    font-size: 10px
  .custom-checkbox-name,
  i
    vertical-align: middle
  .custom-checkbox-name
    line-height: 1.05
    display: inline-block
    width: calc( 100% - 45px )
    font-size: 14px
  &.active
    color: $yellowColor
    i
      &::before
        content: ""
        @include positionElement(14px,14px,5px,5px)
        background-color: $yellowColor
        border-radius: 100%

.custom-checkbox-img
  display: none

.order-popup-part
  background-color: $blueColor
  padding: 25px 25px
  @include positionElement(100%,100%,0,0,left,top,5)
  display: none
  &.show
    display: block
  .couple-input-box
    margin-top: 1px
  .btn
    display: none
.order-popup-end-container
  height: 100%
  display: flex
.order-popup-end
  width: 300px
  margin: auto
  h2
    font-size: 28px
    text-align: left
    margin-bottom: 20px
  h3
    font-size: 16px
    font-weight: 400
    text-transform: uppercase
    margin-bottom: 8px
  h4
    font-weight: 400
    text-transform: inherit
.extra-order-popup
  .cell-form
    .agreement-box
      display: none
.yachts-box-container
  height: 310px
.yachts-box-container-inner
  position: relative
  top: -36px
.yachts-select
  .custom-select
    font-size: 16px
    color: $whiteColor
    padding: 10px 0px 0px
  i
    width: 20px
    height: 20px
    margin-top: 7px
    background-size: 30px
    right: -4px
  ul
    border-radius: 0 !important
    // background-color: $blueColor
    li
      color: $blueColor
      &:hover
        background: none
        color: $yellowColor
@media (max-width: 768px)
  .yachts-select
    .custom-select
      font-size: 12px
    // padding: 7px 0px 0px
  .popup-yacht-head
    height: 70px

  .extra-order-img
    height: 220px
    margin: 0 0 30px
  .extra-order-popup
    .cell-img
      display: block
    .agreement
      display: none
    .cell-form .agreement-box
      display: block
      text-align: left
      margin-top: 15px
  .couple-btn-box
    margin-top: 1px

@media (max-width: 576px)
  .extra-order-popup
    .cell-img
      .agreement
        display: none
    .extra-order-img
      display: none
    .cell-form
      top: 0
      .agreement-box
        display: block
        margin-top: 15px
        font-size: 14px
    .wpcf7-acceptance
      font-size: 12px
      .wpcf7-list-item
        margin: 3px 0 0
  .yachts-box-container-inner
    top: 0
  .yachts-box-container
    height: 335px
  .couple-btn-box
    margin-top: 12px

  .order-popup-part
    padding: 30px 15px
  .cell-form-container
    height: auto
  .custom-checkbox.active
    .custom-checkbox-img
      display: block
      height: 250px
      background-size: cover
      background-position: center
      margin-top: 8px
  .custom-checkbox-container,
  .custom-radio-container
    height: 335px

  .order-popup-part .couple-input-box
    margin-top: 12px

  .popup-yacht-head
    height: 80px
  .extra-order-popup h4
    max-width: 300px
  .btn-container
    margin-bottom: 20px
