mixin reviewsItemVideo(name,data)
		.reviews-video-item
			.reviews-video-box
				img(src="/images/temp/1.jpg", alt="")
				.video-btn
					span 
					i
			.reviews-video-info
				div
					.reviews-img.img-cover
						img(src="/images/temp/avatar-1.jpg", alt="")
				.reviews-video-text
					h2= name
					.reviews-date 10.10.1