mixin yachtsItem(name, text, data, info)
	.yachts-item.col-4
		.yachts-item-img
			.yachts-img.img-cover
				img(src="/images/main-bg.jpg", alt="")
			.yachts-logo 
				span Full refit 2022
			.yachts-item-liked 

		.yachts-item-info 
			h3
				a(href="#")=name
			if (!info)
				ul.ln.yachts-item-description
					li
						b Назначение:
						div Круизы по Дубаю, вечеринки, рекреационная деятельность
					li
						b Вервь:
						div Azimut, Италия
			.yachts-item-price=text
			.yachts-item-adv
				.yachts-adv-icons 
					.yachts-adv-icon.yachts-adv-icon-1
					span 
						|18,9 м.(62 ft.)
				.yachts-adv-icons 
					.yachts-adv-icon.yachts-adv-icon-2
					span 
						|29 гостей 
				.yachts-adv-icons 
					.yachts-adv-icon.yachts-adv-icon-3
					span 
						|3 человека
				.yachts-adv-icons 
					.yachts-adv-icon.yachts-adv-icon-4
					span 
						|3 каюты
			.btn-yachts-container
				a(href="#").btn.btn--blue Забронировать
				a(href="#").btn.btn--blue-border Подробнее