.order-popup-part(data-id="end")
	.order-popup-end-container
		.order-popup-end
			img(src="/images/end-send-popup.svg", alt="")
			h3 BOOK a YACHT
			h2 Thank you for choosing us
			h4 Our manager will contact you soon via 
				b WhatsApp
