.order-popup-part(data-id="routes")
	.main-grid
		.col-6.cell-img
			div
				h4 Please select one of the routes you are interested in..
				.extra-order-img
					.img-cover 
						img(src="/images/temp/boad/1.jpg", alt="")
		.col-6.custom-radio-container
			.custom-checkbox.custom-radio-js
				i
				.custom-checkbox-name
					b YACHT 1
					span from 350 AED per person
			.custom-checkbox.custom-radio-js
				i
				.custom-checkbox-name
					b YACHT 2
					span from 350 AED per person
			.custom-checkbox.custom-radio-js
				i
				.custom-checkbox-name
					b YACHT 3
					span from 350 AED per person
			.custom-checkbox.custom-radio-js
				i
				.custom-checkbox-name
					b YACHT 4
					span from 350 AED per person
			.custom-checkbox.custom-radio-js
				i
				.custom-checkbox-name
					b YACHT 5
					span from 350 AED per person
			.custom-checkbox.custom-radio-js
				i
				.custom-checkbox-name
					b YACHT 6
					span from 350 AED per person
			.btn-container 
				.btn.btn--yellow.book-form Выбрать