.order-popup-part(data-id="routes")
	.main-grid
		.col-6.cell-img
			div
				.popup-yacht-head
					h4 Please select one of the routes you are interested in..
				.extra-order-img.extra-order-img-route
					img(src="#", alt="")
		.col-6
			.custom-radio-container
			.btn-container 
				.btn.btn--yellow.book-form.book-form-route Закрыть