.order-popup-part(data-id="services")
	.main-grid
		.col-6.col-xs-12.cell-img
			div
				.popup-yacht-head
					h4 Please select additional services.
					h5 You can select several services.
				.extra-order-img.extra-order-img-serv
					img(src="#", alt="")
		.col-6.col-xs-12
			.custom-checkbox-container
			.btn-container 
				.btn.btn--yellow.book-form.book-form-serv Закрыть