.order-popup-part(data-id="services")
	.main-grid
		.col-6.cell-img
			div
				h4 Please select additional services.
				h5 You can select several services.
				.extra-order-img
					.img-cover 
						img(src="/images/temp/boad/1.jpg", alt="")
		.col-6
			.custom-checkbox-container
			.btn-container 
				.btn.btn--yellow.book-form Выбрать