section.feedback-home.feedback-origin
	.main-grid
		.col-12
			h2 
				= titleForm
		.col-12.form-default
			.main-grid
				.input-box.col-6.col-xs-12   
					input(type="text" id="name"  class='input-decorate' autocomplete="off")
					label.label-animate(for="name" ) Ваше имя
				.input-box-phone.input-box.col-6.col-xs-12  
					.country-select
						span.country-select-box 
							.rus-flag 
							em  +7
							i
						ul.ln
							li.rus-select
								.rus-flag 
								em +7
							li.oae-select
								.oae-flag 
								em +971
					input.input-decorate.phone-mask-choise(type="text" id="phone" onkeypress='return event.charCode >= 48 && event.charCode <= 57')
					label.label-animate(for="phone") номер телефона*
				.input-box.col-6.col-xs-12  
					input(type="text" id="WhatsApp"  class='input-decorate' autocomplete="off")
					label.label-animate(for="WhatsApp" ) WhatsApp (если отличается от номера телефона)
				.input-box.date-input-container.col-6.col-xs-12  
					input(type="text"  class='input-decorate input-date' id='date'  autocomplete="off")
					label.label-animate(for="date" ) Дата и время
				.checkbox.agreement.col-12
					label Согласен (на) на обработку 
						a(href="#") персональных данных 
						input(type="checkbox" checked)
						span

				+inputSubmit('забронировать услугу', 'btn--yellow', 'col-12') 