section.feedback-home.feedback-origin
	.main-grid
		.col-12
			h2 
				= titleReserve
		.col-12.form-default
			.main-grid
				.input-box.col-4.col-sm-6.col-xs-12   
					input(type="text" id="name"  class='input-decorate' autocomplete="off")
					label.label-animate(for="name" ) Ваше имя
				.input-box-phone.input-box.col-4.col-sm-6.col-xs-12  
					.country-select
						span.country-select-box 
							.rus-flag 
							em  +7
							i
						ul.ln
							li.rus-select
								.rus-flag 
								em +7
							li.oae-select
								.oae-flag 
								em +971
					input.input-decorate.phone-mask-choise(type="text" id="phone" onkeypress='return event.charCode >= 48 && event.charCode <= 57')
					label.label-animate(for="phone") номер телефона*
				.input-box.date-input-container.col-4.col-sm-6.col-xs-12  
					input(type="text"  class='input-decorate input-date'  autocomplete="off")
					label.label-animate(for="date" ) Дата и время
				.input-box.col-4.col-sm-6.col-xs-12  
					input(type="text" id="WhatsApp"  class='input-decorate' autocomplete="off")
					label.label-animate(for="WhatsApp" ) WhatsApp (если отличается от номера телефона)
				.input-box.col-4.col-sm-6.col-xs-12  
					input(type="text" id="guest"  class='input-decorate' autocomplete="off")
					label.label-animate(for="guest" ) Гости (например, 2 взрослых, 3 детей)*
				.input-box.yachts-select.col-4.col-sm-6.col-xs-12  
					input(type="text" id="yachts"  class='input-decorate yachts-select-input'  autocomplete="off")
					label.label-animate(for="yachts" ) Предпочтительная яхта
					i 
					.yachts-select-popup
						-for(var x=0; x<5; x++)
							.yachts-select-popup-item
								.yachts-select-img.img-cover
									img(src="/images/temp/1.jpg", alt="")
								.yachts-select-info
									h3 Azimut 62 Lucky Star
									.yachts-select-char-box
										.yachts-select-char
											.char-popup-ico.char-popup-ico-1
											span 18.9м.
										.yachts-select-char
											.char-popup-ico.char-popup-ico-2
											span 29 гостей 
										.yachts-select-char
											.char-popup-ico.char-popup-ico-3
											span 3 каюты
										.yachts-select-char
											.char-popup-ico.char-popup-ico-4
											span 3 человека
								.yachts-select-arr
				.input-box.col-12
					textarea(class='input-decorate check-mail' autocomplete="off")
					label.label-animate Ваше пожелания и комментарии
				.checkbox.agreement.col-12
					label Согласен (на) на обработку 
						a(href="#") персональных данных 
						input(type="checkbox" checked)
						span
				+inputSubmit('забронировать услугу', 'btn--yellow', 'col-12') 