include ../../default/build-header
		
// header end
.stub
.about-main
	.about-main-wather
	.about-main-img.img-cover 
		img(src="/images/temp/boad/1.jpg", alt="")
	.main-grid 
		.col-7.col-md-6.col-sm-12.col-xs-12.about-main-img-stub
			.breadcrumbs
				a(href="#") Главная
				em /
				span Wake
		.col-5.col-md-6.col-sm-12.col-xs-12.about-main-info 
			.about-main-info-container
				h1 О нас
				h2 Luxury Sea Boats Charter - это подразделение Luxury Sea Boat, одного из ведущих дилеров моторных яхт премиум-класса на Ближнем Востоке.
				.about-main-text  Аренда яхт в Дубае — лучшее место для аренды роскошных яхт в Дубае. Мы предлагаем широкий выбор яхт для аренды по разумным ценам, предоставляя посетителям и жителям всего мира изысканный опыт.
include ../home/advantages.pug
section.video-detail
	.main-grid
		.col-6.col-xs-12.vertical-align
			.video-wather
			.video-info
				h2 Luxury Sea Boats Charter ПРЕДЛАГАЕТ НАШИМ КЛИЕНТАМ НЕЗАБЫВАЕМЫЕ ВПЕЧАТЛЕНИЯ ВОЛШЕБНОГО ВОСТОЧНОГО ПУТЕШЕСТВИЯ!
	.video-container 
		img(src="/images/temp/boad/1.jpg", alt='/images/temp/boad/1.jpg')
		.video-btn
			span
			i
include ../detail/team-slider.pug 
include ../detail/num-adv.pug 
include ../home/reviews.pug
include ../detail/default-slider.pug 
include ../home/partners.pug
// footer start 
include ../../blocks/footer.pug

// footer end