h3 Характеристики
.characteristic-grid
	+characteristicItem('/images/characteristic/eng.svg', 'Azimut, Италия', 'Azimut, Италия')
	+characteristicItem('/images/characteristic/calendar.svg', '2004', 'Год постройки')
	+characteristicItem('/images/characteristic/boad-1.svg', '18,9 м.(62 ft.)', 'Длина')
	+characteristicItem('/images/characteristic/boad-2.svg', '5,06 м.', 'Ширина (в главной секции)')
	+characteristicItem('/images/characteristic/family.svg', '29', 'Гости')
	+characteristicItem('/images/characteristic/handle.svg', '3', 'Каюты')
	+characteristicItem('/images/characteristic/bad.svg', '6+1', 'Спальные места')
	+characteristicItem('/images/characteristic/cap.svg', '3', 'Команды')
	+characteristicItem('/images/characteristic/rudder.svg', '27 узл.', 'Круизная скорость')
	+characteristicItem('/images/characteristic/screw.svg', '32 узл.', 'Максимальная скорость')
	+characteristicItem('/images/characteristic/toilet.svg', '3', 'Количество санузлов')
	+characteristicItem('/images/characteristic/blob.svg', '1000 л.', 'Запас воды')