.catalog-grid
	.col-6.col-xs-12
		+servicesYachtsItem('Вейксерфинг в Дубае','от 850 AED/час','/images/temp/serv/1.jpg')
	.col-6.col-xs-12
		+servicesYachtsItem('Рыбалка на яхте','от 850 AED/час','/images/temp/serv/2.jpg')
	.col-6.col-xs-12
		+servicesYachtsItem('Активные водные развлечения','от 850 AED/час','/images/temp/serv/3.jpg')