h4 Чтобы отдых на яхте принес только положительные эмоции, важно помнить о некоторых особенностях пребывания на воде. Правила поведения, изложенные ниже, актуальны для всех яхт, предоставляемых в аренду компанией Luxury Sea Boats Charter:
ul
  li Любая яхта предоставляется в аренду только с капитаном и (или) командой.
