.main-grid 
	.col-6.col-xs-12
		p Azimut 62 Freedom ll – один из ярчайших представителей линейки моторных яхт с флайбриджем легендарной итальянской верфи Azimut Yachts.
		p Уникальный синтез великолепных аэродинамических и скоростных характеристик спортивной яхты с комфортом и безопасностью круизного лайнера обеспечивает полное расслабление и непринужденное наслаждение морским круизом не только в течении нескольких часов, но и дней.
		p Роскошный, стильный дизайн интерьеров яхты сочетается с высочайшим уровнем практичности и придется по вкусу самым взыскательным гостям Azimut 62 Lucky Star.
		p Для настоящего праздника жизни под открытым небом как нельзя лучше подходит флайбридж яхты. Тут расположены и обеденная зона с большими удобными диванами вокруг стола-трансформера, и зона для загара с просторными лежаками. К вашим услугам бар с холодильником и BBQ station.
		p Пространство открытой палубы с большой платформой для купания наилучшим образом организовано для комфортного пляжного отдыха вдали от городской суеты. Нос яхты оборудован лежаками для любителей принимать солнечные ванны и любоваться морскими пейзажами в уединении. По всему периметру Azimut 62 Lucky Star расположены колонки мощной современной аудиосистемы, гарантирующей качественное звучание музыки.
		.detail-tabs-stub 
		img(src="/images/temp/1.jpg", alt="")
	.col-6.col-xs-12
		img(src="/images/temp/1.jpg", alt="")
		.detail-tabs-stub
		p Классические для яхтенного интерьера мягкие очертания мебели салона, отделанной кожей и деревом, создают комфортную и неутомительную для длительного пребывания на борту обстановку. Панорамное остекление наполняет помещение естественным светом.
		p Камбуз оснащен новейшим оборудованием, позволяющим самостоятельно приготовить полноценный обед или ужин.
		.detail-tabs-stub
		h3 Что включено
		ul.ln.detail-tabs-list
			li Свежая питьевая вода
			li Топливо
			li Прохладительные безалкогольные напитки
			li Оборудование для обеспечения безопасности
			li Полотенца для всех гостей
			li Профессиональный лицензированный капитан и команда
