.gallery-thumb 
  .gallery-thumb-main
    .owl-carousel.big
      -for (x=0;x<10;x++)
        img(src="/images/temp/1.jpg", alt="")
  .gallery-thumb-thumbnails
    .owl-carousel.thumbs
      -for (x=0;x<10;x++)
        img(src="/images/temp/1.jpg", alt="") 