.catalog-sorting-container
	.sidebar-btn
	.catalog-filter
		div
			a.btn.btn--blue-border.active(href="#") Все яхты
		div
			a.btn.btn--blue-border(href="#" data-href="katera") Катера
		div
			a.btn.btn--blue-border(href="#" data-href="yahty-standart") Яхты стандарт
		div
			a.btn.btn--blue-border(href="#" data-href="vip-yahty") Vip яхты
	.catalog-sort 
		b Сортировать по:
		//- +inputSelect('год постройки: по уменьшению', ['по популярности','длина: по уменьшению','длина: по убыванию','цена: по уменьшению','цена: по убыванию','год постройки: по уменьшению','год постройки: по убыванию'],'sort-select')
		select.style-select.order-select-box(data-text='цена: по уменьшению' data-class='sort-select select-order-ajax')
			option(value="priceToMaxA") цена: по уменьшению
			option(value="priceToMinA") цена: по увеличению
			option(value="longToMaxM") длина: по уменьшению
			option(value="longToMinM") длина: по увеличению
			option(value="yearToMax") год постройки: по уменьшению
			option(value="yearToMin") год постройки: по увеличению
	include catalog-sorting-mobile.pug
	.sort-btn
	.catalog-view
		a(href="/html/pages/yachts/list-tile.html").listing-tile-btn.listing-btn.active
		a(href="/html/pages/yachts/list-tile.html?typelist=list").listing-list-btn.listing-btn