section.detail-tabs
	+datailTabs(['Спецификация','Описание','Дополнительные услуги','Галерея','Правила аренды'], 'tabs-choise')
		.detail-tabs-container.detail-tabs-choise.main-full
			.detail-tabs-item.active
				include ../tabsItem/item-1.pug
			.detail-tabs-item
				include ../tabsItem/item-2.pug
			.detail-tabs-item
				include ../tabsItem/item-3.pug
			.detail-tabs-item
				include ../tabsItem/item-4.pug
			.detail-tabs-item
				include ../tabsItem/item-5.pug