.search-panel
  margin-bottom: 20px
  h3
    font-size: $largeSize
    margin-top: 20px
  .btn-search
    width: 100%
    position: relative
    top: -4px
  .search-main
    width: 100%

.search-tags
  margin-top: 45px
  li
    display: inline-block
  a
    width: auto
    padding: 13px 27px
    margin-right: 10px
.search-result-item
  margin: 0 0 90px
.search-result-topic
  font-size: $hugeSize
  text-align: center
  font-weight: 700
  margin: 0 0 45px
  text-transform: uppercase
